body {
    background-image: url('../image/max-saeling-IcOn1qzoTHE-unsplash.jpg');
    background-repeat: repeat-y;
    background-size: cover;
}
.container {
    overflow-x: hidden;
    padding-top: 100px;
}

h5 {
    color: #2b4169;
    text-align: center;
}

h3 {
    color: #d1e3ff;
    text-align: center;
}

h3 span {
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #2b4169;
}


tableSlots {
    display: flex;
    flex-wrap: wrap;
    background-color: beige;
}

td, th, tr {
    border: none;
}

.gray {
    background-color: lightgrey;
}

.blue {
    background-color: #699bf0;
}

.red {
    background-color: #fa5c5c;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%; flex: 1;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%; flex: 3;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}