<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>
        Lets Meet Details
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Roboto fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link th:href="@{/css/details.css}" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-3 mb-3">
            <div>
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Event Details</h5>
                        <h6 class="card-subtitle mb-2 text-muted" th:text="${event.name}"></h6>
                        <p class="card-text" th:text="'Date: ' + ${#temporals.format(event.date, 'dd MMM yyyy')}"> </p>
                        <p class="card-text" th:text="'Start Time: ' + ${event.startTime}"> </p>
                        <p class="card-text" th:text="'End Time: ' + ${event.endTime}"> </p>
                        <a th:href="@{https://letsmeetapps.herokuapp.com/details/{id}(id=${event.id})}" class="card-link" id="myToolTip">Share this link</a>
                        <br>
                        <a class="btn btn-outline-dark btn-sm mt-2" th:href="@{/responses/{id}(id=${event.id})}" role="button">View Participants</a>
                    </div>
                </div>
                <div class="card mb-3">
                    <h6 class="card-header">Change Event Time</h6>
                    <div class="card-body">
                        <form th:action="@{/update/{id}(id=${event.id})}" method="post">
                            <div class="row">
                                <div class="col">
                                    <label class="mr-2">Start Time:</label>
                                    <select class="form-control mr-4" th:name="newStartTime" id="newStartTime">
                                        <option th:each="startTime : ${hourList}"
                                                th:value="${startTime}" th:text="${startTime}">
                                        </option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label class="mr-2">End Time:</label>
                                    <select class="form-control" th:name="newEndTime" id="newEndTime">
                                        <option th:each="endTime : ${hourList}"
                                                th:value="${endTime}" th:text="${endTime}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <h6 class="card-subtitle mb-2 mt-2 text-muted">All responses will be deleted</h6>
                            <div class="form-group mx-auto">
                                <input class="btn btn-danger btn-sm red" type="submit" value="Change" onclick="return Compare()">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-7">
            <form th:action="@{/details/{id}(id=${event.id})}" method="post">
                <div class="form-inline mt-1 mb-3">
                    <h4 class="mr-2">Enter name: </h4>
                    <input class="form-control" type="text" th:name="name" placeholder="Your name.." required>
                </div>
                <h5>Pick available time</h5>
                <div class="form-group table">
                    <div class="tableSlots">
                        <div class="d-flex flex-row">
                            <th:block th:each="slot : ${timeslots}">
                                <div class="col-3">
                                    <table class="table table-primary table-hover table-sm table-bordered">
                                        <tbody>
                                        <th:block th:each="time : ${slot}">
                                            <tr>
                                                <td>
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input" th:name="timeChecked" th:value="${time}">
                                                        <label class="form-check-label" th:for="${time}"></label>
                                                    </div>
                                                </td>
                                                <td th:text="${time}"></td>
                                            </tr>
                                        </th:block>
                                        </tbody>
                                    </table>
                                </div>
                            </th:block>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center mb-5">
                    <button type="submit" class="btn btn-light blue" id="checkBtn">Submit</button>
                </div>
            </form>
        </div>
        <div class="col-sm-1">
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#checkBtn').click(function() {
            checked = $("input[type=checkbox]:checked").length;

            if(!checked) {
                alert("You must check at least one checkbox.");
                return false;
            }
        });
    });

    $('.card-link').click(function (e) {
        e.preventDefault();
        var copyText = $(this).attr('href');

        document.addEventListener('copy', function(e) {
            e.clipboardData.setData('text/plain', copyText);
            e.preventDefault();
        }, true);

        document.execCommand('copy');
        var tooltip = document.getElementById("myToolTip");
        tooltip.innerHTML = "Link Copied!";
    });

    function Compare() {
        var strStartTime = document.getElementById("newStartTime").value;
        var strEndTime = document.getElementById("newEndTime").value;

        var startTime = new Date().setHours(GetHours(strStartTime), GetMinutes(strStartTime), 0);
        var endTime = new Date(startTime)
        endTime = endTime.setHours(GetHours(strEndTime), GetMinutes(strEndTime), 0);
        if (startTime >= endTime) {
            alert("Start Time must not be greater than or equals End Time");
            return false;
        }
    }
    function GetHours(d) {
        var h = parseInt(d.split(':')[0]);
        return h;
    }
    function GetMinutes(d) {
        return parseInt(d.split(':')[1]);
    }
</script>

</body>
</html>
