<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title>
        Lets Meet
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Roboto fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{/css/letsMeet.css}" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6">
            <h1 class="mb-5">Plan a new Meeting or Event</h1>
            <form class="form" method="post">
                <div class="form-group mb-2">
                    <label class="mr-2">Enter Meeting Name: </label>
                    <input class="form-control" type="text" th:field="${event.name}" placeholder="Group Discussion, Project Ideation, etc." required>
                </div>
                <div class="form-group mb-2">
                    <label class="mr-3">Pick Meeting Date: </label>
                    <input class="form-control" type="date" th:field="${event.date}" required>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="mr-2">Estimated Start Time:</label>
                        <select class="form-control mr-4" th:field="${event.startTime}">
                            <option th:each="startTime : ${hourList}"
                                    th:value="${startTime}" th:text="${startTime}">
                            </option>
                        </select>
                    </div>
                    <div class="col">
                        <label class="mr-2">Estimated End Time:</label>
                        <select class="form-control mr-4" th:field="${event.endTime}">
                            <option th:each="endTime : ${hourList}"
                                    th:value="${endTime}" th:text="${endTime}">
                            </option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="form-group text-center">
                    <input class="btn btn-light blue" type="submit" value="Create" onclick="return Compare()">
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    function Compare() {
        var strStartTime = document.getElementById("startTime").value;
        var strEndTime = document.getElementById("endTime").value;

        var startTime = new Date().setHours(GetHours(strStartTime), GetMinutes(strStartTime), 0);
        var endTime = new Date(startTime)
        endTime = endTime.setHours(GetHours(strEndTime), GetMinutes(strEndTime), 0);
        if (startTime >= endTime) {
            alert("Start Time must not be greater than or equals End Time");
            return false;
        }
    }
    function GetHours(d) {
        var h = parseInt(d.split(':')[0]);
        return h;
    }
    function GetMinutes(d) {
        return parseInt(d.split(':')[1]);
    }
</script>
</body>

</html>