<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>
        Lets Meet Responses
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Roboto fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link th:href="@{/css/responses.css}" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-3 pb-5">
            <div>
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Event Details</h5>
                        <h6 class="card-subtitle mb-2 text-muted" th:text="${event.name}"></h6>
                        <p class="card-text" th:text="'Date: ' + ${#temporals.format(event.date, 'dd MMM yyyy')}"> </p>
                        <p class="card-text" th:text="'Start Time: ' + ${event.startTime}"> </p>
                        <p class="card-text" th:text="'End Time: ' + ${event.endTime}"> </p>
                    </div>
                </div>
                <div class="card mb-3">
                    <h6 class="card-header">Update Selected Time</h6>
                    <div class="card-body">
                        <a class="btn btn-outline-primary btn-sm" th:href="@{/details/{id}(id=${event.id})}" role="button">Resubmit</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-7">
            <h3 class="pb-3"><span>Participants</span></h3>
            <div th:if="${map != null}">
                <table class="table table-secondary table-striped table-hover pt-3">
                    <tbody>
                    <th:block th:each="slot : ${map}">
                        <tr class="d-flex">
                            <th:block>
                                <td scope="col-1" class="outside" th:text="${slot.key}"></td>
                                <td scope="col-6" th:text="${#strings.listJoin(slot.value, ', ')}"></td>
                            </th:block>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-1">
        </div>
    </div>
</div>
</body>
</html>